/* @font-face {
    font-family: "Digit Numbers";
    src: url("fonts/ds-digib.ttf");
} */


html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    color: #FFF;
    text-align: center;
    text-shadow:
        2px 2px 0 #6EFFDDCC,
        -2px 2px 0 #7FEAA1,
        -2px -2px 0 #6EFFDDCC,
        2px -2px 0 #7FEAA1;
    /* -webkit-text-stroke: 2px #6EFFDDCC; */
    font-family: Sorts Mill Goudy;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 125% */
    letter-spacing: 10px;
    text-transform: uppercase;
}


h4 {
    color: #FFF;
    text-align: center;
    text-shadow:
        1px 1px 0 #6EFFDDCC,
        -1px 1px 0 #7FEAA1,
        -1px -1px 0 #6EFFDDCC,
        1px -1px 0 #7FEAA1;
    font-family: Courier Prime;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 123.81% */
    letter-spacing: 5.25px;
    text-transform: uppercase;
}


h6 {
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-family: Courier Prime;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.9px;
    text-transform: uppercase;
}


#splash-screen {
    width: 1280px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://media1.giphy.com/media/sULKEgDMX8LcI/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    
}


#splash-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 0;
}

#splash-screen > * {
    position: relative;
    z-index: 1;
}

#btn-ready {
    width: 240px;
    height: 80px;
    border: 2px solid #6EFFDDCC;
    background-color: rgba(0, 0, 0, 0.35);
    color: #FFF;
    text-align: center;
    text-shadow:
    1px 1px 0 #6EFFDDCC,
    -1px 1px 0 #7FEAA1,
    -1px -1px 0 #6EFFDDCC,
    1px -1px 0 #7FEAA1;
    font-family: Courier Prime;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    margin-top: 50px
}

#btn-ready:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    cursor: pointer;
}

#btn-ready:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}


#intro-screen { 
    display: none;
}

.container {
    width: 1280px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.container > h6 {
    margin-top: 10px;
    margin-left: 15px;
}

.container > h1 {
    margin-left: 15px;
}

.center-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-image > img {
    width: 77%;
    height: auto;
}

/* #intro-canvas {
    position: absolute;
    width: 600px;
    height:400px;
    background-color: white;

} */

.btn-standard {
    width: 205px;
    height: 70px;
    border: 2px solid #6EFFDDCC;
    background-color: rgba(0, 0, 0, 0.35);
    color: #FFF;
    text-align: center;
    text-shadow:
    1px 1px 0 #6EFFDDCC,
    -1px 1px 0 #7FEAA1,
    -1px -1px 0 #6EFFDDCC,
    1px -1px 0 #7FEAA1;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.75px;
    text-transform: uppercase;
    position: absolute;
}

.btn-standard:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    cursor: pointer;
}

.btn-standard:active {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.btn-start{
    top: 81vh;
    right: 0;
}


.container-small {
    display:none;
}

#game-screen { 
    display: none;
}

.container-game {
    width: 1000px;
    height: 900px;
    border: 1px solid #7FEAA1;
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.row1-game {
  width: 100%;
  height: 60%;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  border-bottom: 1px solid #7FEAA1;
}


.console-area {
  width: 60%;
  height: 40%;
  border-right: 1px solid #7FEAA1;
}

.score-area {
    width: 39.9%;
    height: 40%;
}


.matrix-area {
    height: 100%;
    position: relative;
}


.matrix-title {
    display: flex; /* Use flexbox to center content */
    justify-content: flex-start;
    width: 1000px;
    height: 50px;
    background: linear-gradient(180deg, #7FEAA1 0%, rgba(127, 234, 161, 0.55) 41.15%, rgba(127, 234, 161, 0.00) 100%);
}

.matrix-title > h6 {
    margin-top: 5px;
    margin-left: 15px;
}

#timer {
    color: white;
    position: absolute;
    right: 500px;
    top: 20px;
    z-index: 1;
}

.dots{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.number {
    /* font-family: "Courier Prime", monospace */
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Sorts Mill Goudy', serif; */
    /* font-family: "Digit Numbers"; */
    display: inline-block;
    width: 22px;
    font-size: 25px;
    text-align: center;
}

#matrix-body {
    height: calc(100% - 50px);
    position: relative;
}

.console-title {
    display: flex; /* Use flexbox to center content */
    justify-content: flex-start;
    width: 190px;
    height: 50px;
    background: linear-gradient(180deg, #7FEAA1 0%, rgba(127, 234, 161, 0.55) 41.15%, rgba(127, 234, 161, 0.00) 100%);
}

.console-title > h6 {
    margin-top: 5px;
    margin-left: 15px;
}

#console-body {
    height: calc(100% - 50px);
}

.score-title {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: 50px;
    background: linear-gradient(180deg, #7FEAA1 0%, rgba(127, 234, 161, 0.55) 41.15%, rgba(127, 234, 161, 0.00) 100%);
}

.score-title > h6 {
    margin-top: 5px;
    margin-left: 15px;
}


.score-body {
    height: calc(100% - 80px);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.score-table {
    margin: 20px;
    width: 100%; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

td {
    padding: 10px;
    font-family: 'Khula', sans-serif;
    font-size: 28px; 
    color: white;
}

.table-col2 {
    padding-left: 120px;
}


#end-screen { 
    display: none;
}

.btn-restart{
    top: 81vh;
    right: 0;
}


.btn-back {
    top: 71vh;
    right: 0px;
}
